body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(207, 205, 160);
    text-align: center;
}
.menu{
    background-color: lightskyblue;
    display: flex;
    justify-content: space-around;
    border: solid 1px;
    margin: 0;
    padding: 20px;
    list-style: none;
}
.menu li{
    background-color: aquamarine;
    border: solid 1px;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
}
.menu a{
    text-decoration: none;
    color: black;
}
.createFlashcard{
    position: absolute;
    text-align: center;
    border: solid 5px;
    background-color: aquamarine;
    width: 500px;
}
.butCreate{
    background-color: brown;
    border-radius: 5px;
}
.containerLogin{
    position: absolute;
    border: solid 5px;
    background-color:aquamarine;
    padding: 10px;
    left: 30%;
    right: 30%;
    text-align: center;
    margin-top: 100px;
    border-radius: 15px;
}
.containerLogin button{
    background-color: rgb(115, 255, 0);
    width: 180px;
    height: 40px;
    font-size: 20px;
    border-radius: 15px;
}
h1{
    text-align: center;
}
button{
    background-color: blueviolet;
    left: 30%;
    width: 200px;
    height: 50px;
    font-size: medium;
    border-radius: 10px;
}
/* li{
    list-style-type: none;
} */
h3{
    text-align: center;
}
.homeMenu a{
    text-decoration: none;
    font-size: 36px;
    font-style: italic;
    color: black;
    /* display: inline-block; */
}
.homeMenu ul{
    padding-left: 0;
}
.homeMenu li{
    border: solid 3px;
    margin-top: 10px;
    height: 40px;
    background-color: cornflowerblue;
    display: grid;
    border-radius: 10px;
}
.blockFlashcard{
    border: solid 5px;
    background-color: coral;
    text-align: center;
    max-width: 400px;
    border-radius: 10px;
}
.term{
    border: solid 2px;
    background-color: aliceblue;
    margin: 5px;
}
.meaning{
    border: solid 2px;
    background-color: aliceblue;
    margin-top: 5px;
}
.subject{
    border: solid 2px;
    background-color: aliceblue;
}
.blockFlashcard div{
    margin: 10px;
}
.blockFlashcards ul li{
    text-align: center;
}
.block_roll{
    display: flex;
    justify-content: space-around;
}
.user{
    color: rgb(34, 53, 223);
    font-size: 20px;
}
.block_user{
    border: solid 3px;
    border-radius: 10px;
    background-color: rgb(190, 247, 106);
}