body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(207, 205, 160);
    text-align: center;
    padding-bottom: 0;
    /* position: relative; */
}
.menu{
    background-color: lightskyblue;
    display: flex;
    justify-content: space-around;
    border: solid 1px;
    margin: 0;
    padding: 20px;
    list-style: none;
}
.menu li{
    background-color: aquamarine;
    border: solid 1px;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
}
.menu a{
    text-decoration: none;
    color: black;
}
.createFlashcard{
    position: absolute;
    text-align: center;
    border: solid 5px;
    background-color: aquamarine;
    width: 500px;
}
.butCreate{
    background-color: brown;
    border-radius: 5px;
}
.containerLogin{
    position: absolute;
    border: solid 5px;
    background-color:aquamarine;
    padding: 10px;
    left: 30%;
    right: 30%;
    text-align: center;
    margin-top: 100px;
    border-radius: 15px;
}
.containerLogin button{
    background-color: rgb(115, 255, 0);
    width: 180px;
    height: 40px;
    font-size: 20px;
    border-radius: 15px;
}
h1{
    text-align: center;
}
button{
    background-color: blueviolet;
    left: 30%;
    width: 200px;
    height: 50px;
    font-size: medium;
    border-radius: 10px;
}
li{
    list-style-type: none;
}
h3{
    text-align: center;
}
.homeMenu a{
    text-decoration: none;
    font-size: 36px;
    font-style: italic;
    color: black;
    /* display: inline-block; */
}
.homeMenu ul{
    padding-left: 0;
}
.homeMenu li{
    border: solid 3px;
    margin-top: 10px;
    height: 40px;
    background-color: cornflowerblue;
    display: grid;
    border-radius: 10px;
}
.blockFlashcard{
    /* position:absolute; */
    border: solid 5px;
    background-color: rgb(29, 48, 61);
    text-align: center;
    border-radius: 10px;
    /* padding: 10px; */
    padding-top: 0;
    left: 30%;
    right: 30%;
    /* margin-top: 50px; */
}
/* .term{
    border: solid 2px;
    background-color: rgb(148, 200, 245);
    margin: 5px;
    font-size: 24px;
} */
/* .meaning{
    border: solid 2px;
    background-color: aliceblue;
    margin-top: 5px;
} */
/* .subject{
    border: solid 2px;
    background-color: aliceblue;
    font-size: 24px;
} */
.blockFlashcard div{
    margin: 10px;
}
/* .blockFlashcards ul li{
    text-align: center;
} */
.block_roll{
    display: flex;
    justify-content: space-around;
}
.user{
    color: rgb(34, 53, 223);
    font-size: 20px;
}
.block_user{
    border: solid 3px;
    border-radius: 10px;
    background-color: rgb(190, 247, 106);
    margin-bottom: 15px;
}
.back{
    background-color: rgb(60, 182, 135);
    display: grid;
    font-size: 24px;
    height: 30px;
    margin-right: 200px;
    margin-left: 200px;
    border-radius: 10px;
}
a {
    text-decoration: none;
    color: black;
}
ul{
    padding-left: 0;
}
.values{
    font-style: italic;
    font-size: 24px;
    color: white;
}
.depiction{
    font-size: 24px;
    color: white;
}
.education_link{
    background-color: rgb(111, 214, 228);
    width: 200px;
    display: grid;
    border-radius: 3px;
}
.education_link a{
    font-size: 20px;
    margin-bottom: 0;
    color: black;
}