body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(207, 205, 160);
}
.menu{
    background-color: lightskyblue;
    display: flex;
    justify-content: space-around;
    border: solid 1px;
    margin: 0;
    padding: 20px;
    list-style: none;
}
li{
    background-color: aquamarine;
    border: solid 1px;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
}
.createFlashcard{
    position: absolute;
    /* left: 50%; */
    text-align: center;
    border: solid 5px;
    background-color: aquamarine;
    width: 500px;
}
.butCreate{
    background-color: brown;
    /* border: solid 5px; */
    border-radius: 5px;
}
/* .butCreateContainer{
    background-color: black;
} */