<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
    <div class="block_user"><h3>Пользователь: <span class="user">{{ user.username }}</span></h3></div>
    <div class="back"><a href="{% url 'home'%}">Назад</a></div>
    <h1>Создание карточки</h1>
    <div class="createFlashcard">
        <form  method="post">
            {%csrf_token%}
            {{form.as_p}}
            <div class="butCreateContainer"><button class="butCreate">Создать карточку</button></div>
            <br>
        </form>
    </div>
    {%if messages%}
    {%for message in messages%}
    <div class="success">
            <p class="alert__message">{{message}}</p>
    </div>
    {%endfor%}
    {%endif%}
    <script>
        let text = document.querySelector('.alert__message');
        setTimeout("text.style.display = 'none'", 3000)
    </script>
</body>
</html>