<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h4><a href="{% url 'home'%}">Назад</a></h4>
<h1>Карточка</h1>
{% for flashcard in flashcards%}
    <div class="blockFlashcards"><ul>
        <li><div class="blockFlashcard">
            {%if flashcard.subject%}
            <div><span class="subject"> Класс {{ flashcard.subject }}</span></div>
            {%endif%}
            <div><span class="term">{{ flashcard.term }}</span></div>
            <div><span class="meaning">{{ flashcard.meaning }}</span></div>
            <div>
                <form method="post" action="{% url 'delete_flashcard' flashcard.id %}">
                    {%csrf_token%}
                    <button>Удалить</button>
                </form></div>
    </div></li>
    </ul>
{%endfor%}
</body>
</html>