<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1>Карточка</h1>
{% for flashcard in flashcards%}
    <div class="blockFlashcards"><ul>
        <li><div class="blockFlashcard">
            <div><span class="subject">{{ flashcard.subject }}</span></div>
            <div><span class="term">{{ flashcard.term }}</span></div>
            <div><span class="meaning">{{ flashcard.meaning }}</span></div>
    </div></li>
    </ul>
{%endfor%}
</body>
</html>