<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
<div class="block_user"><h3>Пользователь: <span class="user">{{ user.username }}</span></h3></div>
<div class="homeMenu">
    <ul>
        <li><a href="{%url 'create_flashcard'%}">создать карточку</a></li>
        <li><a href="{% url 'flashcard' %}">просмотреть карточки</a></li>
        <li><a href="{% url 'education' %}">начать обучение</a></li>
    </ul>
    <form method="post">
        {%csrf_token%}
        {{form.as_p}}
        <button>Выйти</button>
    </form>
</div>
</body>
</html>