<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
<div class="homeMenu">
    <h3>Пользователь: {{ user.username }}</h3>
    <ul>
        <li><a href="{%url 'create_flashcard'%}">создать карточку</a></li>
        <li><a href="{% url 'flashcard' %}">просмотреть карточки</a></li>
        <li><a href="#">начать обучение</a></li>
        <li>
            <form method="post">
                {%csrf_token%}
                {{form.as_p}}
                <button>Выйти</button>
            </form>
        </li>
    </ul>
</div>
<h1>Home</h1>
</body>
</html>